body{
    background: #353535;
}

.fill{
    background: #00dd42;
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}
.empty{
    display: inline-block;
    background-color: #170080;
    height: 160px;
    width: 160px;
    clear: both;
    margin: 10px;
    border: 4px #70009c solid;
}

.hovered{
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: #ec9e9e;
    border-style: dashed;
}