body{
    background: #353535;
}

.fill{
    display: inline-block;
    background: #00dd42;
    height: 150px;
    width: 150px;
    margin: 5px;
    cursor: pointer;
}
.empty{
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px #70009c solid;
    background-color: #170080;
}
.hold{
    border: 4px #ccc solid;
}
.hovered{
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: #ec9e9e;
    border-style: dashed;
}